<button ng-click="clickUnfocused()">포커스가 없습니다.</button>
<button ng-init-focus ng-click="clickFocused()">포커스가 있습니다.</button>
<div>
    {{message.text}}
</div>

<hello-world></hello-world>
<movie username="Avengers" img="https://attachment.namu.wiki/movie_image_4.jpg" reputation="8012"></movie>
<br>
<ul>
    <li>Home</li>
    <li>새로운 소식</li>
    <li restricted>profile</li>
    <li restricted>팀활동</li>
</ul>


<products></products>

<div template-list template="table" class="table table-striped"></div>
<duplicate-scope></duplicate-scope>
<duplicate-scope></duplicate-scope>