<!DOCTYPE html>
<html lang="ko" >
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <script src="../components/angular/angular.js"></script>
    <script src="../js/hello.js"></script>
    <link href="../components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="../components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
</head>
<body ng-app="hello" ng-controller="HelloController">
<input type="text" ng-model="hello.msg">
<br>
<strong>{{hello.msg}}</strong>
<br>
<button ng-click="toUpper()">대문자로 전환!!</button>

<br>
<h1> 장바구니 </h1>
<div ng-repeat="item in items">
    <span>{{$index}}</span>
    <span>{{item.title}}</span>
    <span> 수량:</span>
    <input type="text" ng-model="item.count">
    <span> 가격:{{item.price}}</span>
    <span> 총합:{{item.count * item.price}}원</span>
    <button ng-click="remove($index)">삭제</button>
</div>

<!-- Ajax로 추가된 부분-->
<br><br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No</th> <th>이름</th> <th>수량</th> <th>가격</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in products">
                <td>{{$index}}</td>
                <td>{{product.title}}</td>
                <td>{{product.count}}</td>
                <td>{{product.price}}</td>
            </tr>
            <tr>
                <td>New</td>
                <td><input type="text" class="form-control" ng-model="product.title"></td>
                <td><input type="text" class="form-control" ng-model="product.count"></td>
                <td><input type="text" class="form-control" ng-model="product.price"></td>
            </tr>
            </tbody>
        </table>
        <p>
            <button class="btn btn-primary" ng-click="loadData()"> 데이터 불러오기 </button>
            <button class="btn btn-success" ng-click="pushData(product)"> 데이터 추가하기 </button>
            <button class="btn btn-danger" ng-click="pushData2(product)"> 데이터 추가하기2 </button>
        </p>
    </div>
</div>
<br><br>
<div class="container">
    <button class="btn btn-info" ng-click="showQuiz()">문제 시작</button>
    <div class="well clearfix">
        <div ng-hide="result===false">
            <p><h1>3초안에 답을 말하세요!</h1></p>
            10-1+29+2-1 = <input ng-model="answer">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="well"> {{result}} <br> {{info}}</p>
        </div>
<div>
    <div class="col-md-8 col-md-offset-2">
        <button class="btn btn-warning" ng-click="born()"> 애기가 태어났다! </button>
    </div>
</div>
</body>
</html>