<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <script src="../components/angular/angular.js"></script>
    <script src="../js/hello.js"></script>
    <link href="../components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="../components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
</head>
<body ng-app="hello" ng-controller="HelloController">
	<input type="text" ng-model="hello.msg">
	<br>
	<!-- ng-app은 모듈을 불러오는 것 -->
    <strong>{{hello.msg}}</strong>
    <br>
    <button ng-click='toUpper();'>대문자 변환</button>
    <br>

    <h1>장바구니</h1>
    <h3>직접추가</h3>
    이름:<input type="text" ng-model="addItem.title">
    수량:<input type="text" ng-model="addItem.count">
    가격:<input type="text" ng-model="addItem.price">
    <button ng-click="add()">추가</button>
    <br><br>
    <div ng-repeat="item in items">		<!-- for문과 같다고 생각하면 된다. items배열에 있는 내용을 하나하나 다 뽑아 오겠다.-->
    	<span> {{$index}}</span>
        <span>{{item.title}}</span>			<!-- {{$index}} = ng-repeat에서 사용할수 있는 index값 -->
    	<span>수량 : <input type="text" ng-model="item.count"></span>
    	<span>가격 : {{item.price}}</span>
    	<span>총합 : {{item.count * item.price}}원</span>
    	<button ng-click="remove($index)">삭제</button>
    	<!-- <button ng-click='remove(index);'>삭제</button> -->
    </div>

<br>
{{total()}}
<strong>전체 금액 : {{bill.totalPrice}} 원</strong><br>
<strong>할인 금액 : {{bill.discountPrice}} 원</strong><br>
<strong>결제 금액 : {{bill.payPrice}} 원</strong>


<!-- Ajax로 추가된 부분-->
<br><br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No</th> <th>이름</th> <th>수량</th> <th>가격</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in products">
                <td>{{$index}}</td>
                <td>{{product.title}}</td>
                <td>{{product.count}}</td>
                <td>{{product.price}}</td>
            </tr>
            </tbody>
        </table>
        <p>
            <button class="btn btn-primary" ng-click="loadData()"> 데이터 불러오기 </button>
        </p>
    </div>
</div>


<br><br>
<div class="container">
    <button class="btn btn-info" ng-click="showQuiz()">문제 시작</button>
    <div class="well clearfix">
        <div ng-hide="result===false">
            <p><h1>3초안에 답을 말하세요!</h1></p>
            10-1+29+2-1 = <input ng-model="answer">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="well"> {{result}} <br> {{info}}</p>
        </div>
    </div>
</div>
    
</body>
</html>