<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <script src="../components/angular/angular.js"></script>
    <script src="../js/hello.js"></script>
    <link href="../components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="../components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
</head>
<body ng-app="hello" ng-controller="HelloController">
	<input type="text" ng-model="hello.msg">
	<br>
	<!-- ng-app은 모듈을 불러오는 것 -->
    <strong>{{hello.msg}}</strong>
    <br>
    <button ng-click='toUpper();'>대문자 변환</button>
    <br>
</body>
</html>